<!DOCTYPE html>
<html>
<head>
  <title>Scribbles</title>
  <meta charset="utf-8">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <h1 class="title">SCRIBBLES</h1>
  <nav>
    <a href="/sign_in">Sign in</a>
    <a href="/sign_up">Sign up</a>
    <a href="/sign_out">Sign out</a>
  </nav>

<%= yield %>

</body>
</html>
